
* {
margin: 0;
-webkit-box-sizing: border-box;
        box-sizing: border-box;
}


header nav {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between; 
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
width: 100%;
min-height: 55px;
position: fixed;
background-color: #ffffff;

padding-left: 2rem;
padding-right: 2rem;

top: 0;
}


.nav-bar-link{text-decoration: none; color: #393939 }
.nav-bar-text{ list-style-type: none; font-family: Verdana ; font-size: 18px; 
font-style: normal; display: inline; margin-right: 20px;}
.nav-bar-heading{ font-family: Verdana ; font-size: 18px;  color: #2d3982; float: left;}

.hero-container{
  padding-top: 4rem;
  padding-bottom: 5rem;
background-color: #f8f8f8; 
display: flex;
align-items: flex-start;
object-fit: contain;
float:left;

}
.hero-container-img{

  height: 35%;
width: 35%;
 
  flex:1 0 0;
  padding-right: 7%;

  align-self: center;
  
  }

.hero-container-text{

color:#101d42;
padding-right: 25px;
padding-left: 5%;
justify-content: left;

margin-right: 2rem;
flex:1.5 0 0;

}

.hero-container-text-title{ 
font-family:"Comic Sans MS"; 
font-weight: bold;
padding-top: 2rem;
padding-bottom: 0rem;
padding-right: 1rem;
padding-left:3rem;
font-size: 33px;

}

.hero-container-text-body{
font-family: verdana;
padding-top: 1rem;
padding-bottom: 2.5rem;
padding-right: 2rem;
padding-left:3rem;
font-size: 13px;
font-weight: 100;

}

.hero-container-button{
margin-left: 50px;
}

button{

border-width: 0px;
background-color:#5969d0 ;
width: auto;
height:auto;
outline-style: none;
border-radius: 40px/30px;
border:none;
padding-top: 0.5rem;
padding-bottom: 0.5rem;

}

.button-text{
color:#ffffff;
font-family: verdana;
font-size:15px;
margin: 2rem 2rem;


}


main{background-color: #ffffff;overflow: visible; }


.recommendations-title{  
  display: flex;
  text-align: left;
  padding: 1rem;

}



.recommendations{
 display: flex;
 justify-content: space-around; 

padding-left: 15%;
padding-right: 15%;


}
.recommendations-card{
  box-shadow: 0 5px 9px -1px rgba(0,0,0,0.25);
  margin-bottom: 0px;
  margin-right: 0px;
text-align:right;
position: relative;
}
.recommendations-card_photo{

  padding-top: 0pxs;
  height: 350px;

}


.recommendations-card_text{
  position: absolute;
  bottom:5%;
  right: 7%;
 font-size: 25px;
 font-weight: bold;
  color: #ffffff;
  font-family: verdana;

}

