
* {
margin: 0;
-webkit-box-sizing: border-box;
        box-sizing: border-box;
}


header nav {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between; 
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
width: 100%;
min-height: 55px;
position: fixed;
background-color: #ffffff;

padding-left: 2rem;
padding-right: 2rem;
z-index: 10;
}


.active-link{border-bottom: 3px solid #e37889; padding-bottom: 7px;}
.nav-bar-link{text-decoration: none; color: #393939 }
.nav-bar-text{ list-style-type: none; font-family: Verdana ; font-size: 15px; 
font-style: normal; display: inline; margin-right: 20px;}
.nav-bar-heading{ font-family: Verdana ; font-size: 18px;  color: #2d3982; }


.hero-container{
  padding-top: 4rem;
  padding-bottom: 5rem;
background-color: #f8f8f8; 
display: flex;
align-items: flex-start;
object-fit: contain;


}
.hero-container-img{

  height: 35%;
width: 35%;
 
  flex:1 0 0;
  padding-right: 7%;

  align-self: center;
  
  }

.hero-container-text{

color:#101d42;
padding-right: 25px;
padding-left: 5%;
justify-content: left;

margin-right: 2rem;
flex:1.5 0 0;

}

.hero-container-text-title{ 
font-family:"Comic Sans MS"; 
font-weight: bold;
padding-top: 2rem;
padding-bottom: 0rem;
padding-right: 1rem;
padding-left:3rem;
font-size: 33px;

}

.hero-container-text-body{
font-family: verdana;
padding-top: 1rem;
padding-bottom: 2.5rem;
padding-right: 2rem;
padding-left:3rem;
font-size: 13px;
font-weight: 100;

}

.hero-container-button{
margin-left: 50px;
}

button{

border-width: 0px;
background-color:#5969d0 ;
width: auto;
height:auto;
outline-style: none;
border-radius: 40px/30px;
border:none;
padding-top: 0.5rem;
padding-bottom: 0.5rem;

opacity:1;
transition: 0.3s;
}
button:hover {opacity: 0.75}

.button-text{
color:#ffffff;
font-family: verdana;
font-size:15px;
margin: 2rem 2rem;


}


main{background-color: #ffffff;overflow: visible; }


.recommendations-title{  
  display: flex;
  text-align: left;
  padding: 2rem 0 2rem 5rem;
  color: #101d42;
  font-family: verdana;

}



.recommendations{
 display: flex;
 justify-content: space-around; 

padding-left: 15%;
padding-right: 15%;
padding-bottom: 3%;


}
.recommendations-card{

  margin-bottom: 30px;
  margin-right: 50px;
  text-align:right;
  position: relative;
  background-color:transparent;
  
  
}
.recommendations-card_photo{

  padding-top: 0pxs;
  height: 350px;
  width: 250px;
  background-image: inherit;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  
  border:1px solid rgba(0,0,0,0.2);
  z-index:-10;
  
}


.recommendations-card_text{
  position: absolute;
  bottom:5%;
  right: 7%;
 font-size: 23px;
 font-weight: bold;
  color: #ffffff;
  font-family: verdana;
  

}


.overlay{
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity:0%;
  transition: 0.5s ease;
  background-color: rgba(255,255,255,0.25);
}

.recommendations-card:hover .overlay{opacity: 1;}

