
* {
margin: 0;
-webkit-box-sizing: border-box;
        box-sizing: border-box;
}


header nav {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between; 
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
width: 100%;
min-height: 55px;
position: fixed;
background-color: #ffffff;

padding-left: 2rem;
padding-right: 2rem;
z-index: 10;
}

.active-link{border-bottom: 3px solid #e37889; padding-bottom: 7px;}
.nav-bar-link{text-decoration: none; color: #393939 }
.nav-bar-text{ list-style-type: none; font-family: Verdana ; font-size: 15px; 
font-style: normal; display: inline; margin-right: 20px;}
.nav-bar-heading{ font-family: Verdana ; font-size: 18px;  color: #2d3982; }

.hero-container{background-position: center; background-size: cover; background-repeat: no-repeat;

}
.destination-img{
  min-width: auto;
  width: 100%;
  height: auto;
  display: flex;
  z-index: -1;
  display: flex;
  background-repeat:no-repeat;
  position: absolute;; 
 
  top: -80%;
  
  }
  .destination-title{
  position: absolute;
  top:15%;
  left: 5%;
  font-family: verdana;
  color: #ffffff;
  /*text-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);*/
  font-size: 60px;
padding: 0.5rem;

  }


main{}


.recommendations-title{  
  display: flex;
  text-align: left;
  padding: 2rem;
  color: #101d42;

}


.recommendations{
 display: flex;
 justify-content: space-around; 

padding-left: 15%;
padding-right: 15%;
padding-bottom: 3%;
position: absolute;
top: 40%;
left: 3%;

}
.recommendations-card{

  margin-bottom: 30px;
  margin-right: 50px;
  text-align:right;
  position: relative;
  background-color:white;
  height: 360px;
  width:250px;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  border:1px solid rgba(0,0,0,0.2);
  padding: 0.5rem;
  
}



.recommendations-card_heading{
text-align: center;
 
 font-size: 18px;
 font-weight: bold;
 color: #393939 ;
  font-family: verdana;
  border-bottom: 1px solid black;
 
  margin: 0.5rem;

}
.recommendations-card_ul{
  padding:0;
}
.recommendations-card_body{

  text-align: center;
  font-size: 15px;
  font-family: verdana;
  color: #393939 ;
  background-color: #f0f0f0;
  list-style-type: none;
  padding-left: 0.5rem;
  padding-right:0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 1rem;
  font-weight: 100;
}

