
* {
margin: 0;
-webkit-box-sizing: border-box;
        box-sizing: border-box;
}


header nav {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between; 
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
width: 100%;
min-height: 55px;
position: fixed;
background-color: #ffffff;

padding-left: 2rem;
padding-right: 2rem;
z-index: 10;
}


.nav-bar-link{text-decoration: none; color: #393939 }
.nav-bar-text{ list-style-type: none; font-family: Verdana ; font-size: 18px; 
font-style: normal; display: inline; margin-right: 20px;}
.nav-bar-heading{ font-family: Verdana ; font-size: 18px;  color: #2d3982; float: left;}

.hero-container{background-position: center; background-size: cover; background-repeat: no-repeat;

}
.destination-img{
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  
  top: 0;
  left: 0;

  
  }
  .destination-title{
  position: absolute;
  top:15%;
  left: 7%;

  }


main{}


.recommendations-title{  
  display: flex;
  text-align: left;
  padding: 2rem;
  color: #101d42;

}


.recommendations{
 display: flex;
 justify-content: space-around; 

padding-left: 15%;
padding-right: 15%;
padding-bottom: 3%;
position: absolute;
top: 50%;
right: 5%;

}
.recommendations-card{

  margin-bottom: 30px;
  margin-right: 50px;
  text-align:right;
  position: relative;
  background-color:white;
  height: 350px;
  width:250px;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  border:1px solid rgba(0,0,0,0.2);
}
.recommendations-card_photo{

  padding-top: 0pxs;
  height: 350px;
  background-image: inherit;

  width: 250px;
 
  
}


.recommendations-card_text{
  position: absolute;
  bottom:5%;
  right: 7%;
 font-size: 23px;
 font-weight: bold;
  color: black;
  font-family: verdana;
  

}

